*{
box-sizing: border-box;
}

body  {
    background: gray;
    margin: 0;
}

.aside {
    width: 150px;
    height: 100vh;
    background-color: #282d32;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;

}

.nav > ul {
    list-style: none;
    color: blanchedalmond;
    
}
.nav a {
    text-decoration: none;
    color: blanchedalmond;

}

.nav::before, .nav:::after {
    display: block;
    content: "";
    background-color: white;
    width: 90px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


.content {
    margin-left: 150px;
    padding: absolute;

}

.a1 {
    position: relative;
    text-align:center
}
.a2 {
    position: relative

    
}


.logo {
    text-align:center ;
    position: relative;
}

.logo > p {

    font-size: 32px;
    color: #4cb480;;
}

.logo > p:after {
display: block;
content: "";
width: 50px;
height: 4px;
background-color: #4cb480;
position: absolute;
bottom: -8px;
left: 50%;
transform: translateX(-50%);

}

.a1 {
    

}
.a2 {
    position: relative;
    left: 30px;
}
.searchicon {
    padding: 20px 0;
    text-align: center;
}
 


.searchicon svg {
    fill: blanchedalmond;
    width: 25px;
    
}

.services {
    display: flex;
    
}
.services > .item   {
border-radius: 6px;
background-color: #f6f6f6;
margin: 0 30px;
}