.aside {
    width: 150px;
    background-color: #282d32;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    height: 100ch;
  }
  .searchicon {
    padding: 20px 0;
    text-align: center;
  }
  
  .searchicon svg {
    fill: blanchedalmond;
    width: 25px;
  }
  
  @media 
       (max-width: 768px){
        .aside {
          display: flex;
            width: auto;
            height: auto;
            background-color: #282d32;
            position: relative;
            top: 0;
            left: 0;
            padding: 10px;
            justify-content: space-around;

            
        
        }}
        .logo {
          text-align:center ;
          position: relative;
      }
      
      .logo > p {
      
          font-size: 32px;
          color: #4cb480;;
      }
      .logo > p:after {
          display: block;
          content: "";
          width: 50px;
          height: 4px;
          background-color: #4cb480;
          position: absolute;
          bottom: auto;
          left: 50%;
          transform: translateX(-50%);
          }