.main-content {
    margin-left: 150px;
  }
  
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
    }
  }
  
  .a1 {
    position: relative;
    text-align: left;
    line-height: normal;
    padding: 120px 240px 240px 325px;
    line-height: 1.6;
    font-size: 22px;
    background-color: #353a3d;
    padding-bottom: 186px;


    @media (max-width: 1200px) {
        padding: 60px 120px 120px 160px;
    }

    @media (max-width: 800px) {
        padding: 20px 40px 40px 50px;
    }
  
    > h1 {
      font-style: normal;
      line-height: normal;
      margin-top: 89px;
      font-weight: normal;
      font-size: 62px;
      letter-spacing: 3px;
      color: #ffffff;

      @media (max-width: 800px) {
        font-size: 28px;
      }
    }
  }
  
  h3 {
    font-weight: normal;
    letter-spacing: 3px;
    color: #ffffff;

    @media (max-width: 800px) {
        font-size: 22px;
    }
  }
  
  h1::before {
    // @extend %decoration-line;
    @include decoration-line(100px, 15px);
    top: -25px;
    margin-top: -3px;
  }
  
  .a1 p {
    line-height: 36px;
    color: #C4C5C7;
  }  

  .services {
    padding: 90px 0;
    background-color: #ffffff;
    padding: 90px 120px;

    @media (max-width: 1200px) {
        padding: 50px;
    }

    .content-wrap {
        display: flex;
        justify-content: space-between;
        

        @media (max-width: 1320px) {
            flex-direction: column;
        }
    }
  
    &__item {
      position: relative;
      flex-basis: 360px;
      border-radius: 6px;
      background-color: #f6f6f6;
      padding: 0 62px;
      margin-right: 15px;
      

      @media (max-width: 1320px) {
        margin-bottom: 20px;
    }

      &:last-child {
          margin-right: 0;
      }
    }
  
    .item p {
      line-height: 30px;
          }
    
  
    .icon svg {
      fill:$color-primary;
      position: relative;
      top: 16px;
        }
    .itemtitly {
      color: black;
      margin: 50px 0 0;
    }
  }

  .item {
    position: relative;
    text-align: center;

    flex-basis: 360px;
      border-radius: 6px;
      background-color: #f6f6f6;
      padding: 0 62px;
      margin-right: 15px;
  }
  
  .icon {
    fill:$color-primary;
    position: absolute;
    border-radius: 40px;
     width: 65px;
    height: 65px;
    left: 40%;
    top: -33px;
    background-color: #ffffff;

   
  }
  
  .a3 {
    height: 600px;
    background: #333a3d;
    background-image: url(запятые.svg);
    background-size: cover;
    left: auto;    
    position: relative;

  
    p {
      line-height: 38.02px;
      margin: 0px;
    }

  } 
         
    
  .a4 {
    background-color: white;
    width: none;
    height: none;
    padding: 25px;
  }
  
  .blog {}
  
  .blog__heading {
    display: flex;
    margin-bottom: 30px;
  }
  
  .post-preview_desc {
    padding: 20px 20px 20px 40px;
  }
  
  .post-preview:last-child {
    margin-bottom: 0;
  }
  
  .post-preview_img {
    flex-basis: 565px;
    flex-shrink: 0;
  
    img {
      display: block;
      object-fit: cover;
      height: 100%;
      max-width: 360px;
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .a1 {
      flex-direction: column;
      padding: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .services {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .a2 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 768px) {
    .blog__heading {
      padding: 20px;
      display: inline-block;
    }
  }
  
  @media (max-width: 768px) {
    .post-preview_img img {
      padding: 20px;
      display: inline;
      height: 100px;
    }
  }